@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">修改成功</p>
</div>

<div class="success clearfloat" id="main">
    <div class="top clearfloat">
        <i class="iconfont icon-chenggong chenggong"></i>
        <p class="tit">恭喜您，成功修改密码！</p>
        <p class="fu-tit">您的密码已经修改成功，请牢记此密码！</p>
    </div>
</div>
