@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">修改密码</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="" id="phoneNum" value="" placeholder="手机" class="sname" />
        </li>
        <li class="clearfloat">
            <input type="text" name="" id="verifyCode" value="" placeholder="请输入右图验证码" class="syzma fl" />
            <span class="fl"><img id="imgVerifyCode" src="~/Main/CreateVerifyCode"/></span>
            <a href="#" id="btnHYZ" class="fr">换一张</a>
        </li>
    </ul>
    <a href="#" id="btnNext" class="pay-btn clearfloat">
        下一步
    </a>
</div>


@section FooterScript
{
<script type="text/javascript">
    $(function () {
        $("#imgVerifyCode,#btnHYZ").click(function () {
            $("#imgVerifyCode").attr("src", "/Main/CreateVerifyCode?ts="+Math.random());
        });
        $("#imgVerifyCode").click();

        $("#btnNext").click(function () {
            var phoneNum = $("#phoneNum").val();
            var verifyCode = $("#verifyCode").val();
            $.ajax({
                url: "/User/ForgotPassword", type: "post", dataType: "json",
                data: { phoneNum: phoneNum, verifyCode: verifyCode },
                success:function(res)
                {
                    if(res.status=="ok")
                    {
                        location.href = "/User/ForgotPassword2";
                    }
                    else
                    {
                        alert(res.errorMsg);
                    }
                },
                error:function()
                {
                    alert("网络错误");
                }
            });
        });
    });
</script>
}