@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">短信验证</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="" id="SmsCode" value="" placeholder="请输入手机短信中的验证码" 
                class="sname" />
        </li>
    </ul>
    <a href="#" id="btnNext" class="pay-btn clearfloat">
        验证
    </a>
</div>

@section FooterScript
{
<script type="text/javascript">
    $(function () {
        $("#btnNext").click(function () {
            var smsCode = $("#SmsCode").val();
            $.ajax({
                url: "/User/ForgotPassword2", type: "post", dataType: "json",
                data: { SmsCode: smsCode },
                success:function(res)
                {
                    if(res.status=="ok")
                    {
                        location.href = "/User/ForgotPassword3";
                    }
                    else
                    {
                        alert(res.errorMsg);
                    }
                },
                error:function()
                {
                    alert("网络错误");
                }

            });
        });
    });
</script>
}